@tailwind base;
@tailwind components;
@tailwind utilities;

.customGradient {
  background: -webkit-linear-gradient(180deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
